body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* --------------------------------Header----------------------------------- */
.panel {}

.navigation-panel {}

.logo-link{
        font-family:"Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-link:focus,.logo-link:hover{
        color: #4d5ae5;
}
.span-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.panel-list {
        color:#2e2f42;
}

.link-panel {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.link-address {
        font-style: normal;
}

.list-address{}

.link-address {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}
.link-address,.link-panel:hover{
        color: #404BBF;
}
.link-addres,.link-panel:focus{
        color: #404bbf;
}

/* --------------------------------Effective Solutions for Your Business------------------------------- */

.hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
}

.btn-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor:pointer;
        background: #4d5ae5;
}
.btn-hero:hover,.btn-hero:focus{
background-color: #404BBF;
}

/* --------------------------------Information----------------------------------- */

.blog {
    display: none;
    background-color: #F4F4FD;
}

.blog-list {}

.blog-item {}

.blog-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.blog-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------Our Team----------------------------------- */

.allteams {
    background-color: #F4F4FD;
}

.teammakers {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
}

.teammakers-list {
    background-color: #FFFFFF;
}

.teammakers-item {
    background-color: #FFFFFF;
}

.teammakers-img {}

.teammakers-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.teammakers-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------Our Portfolio----------------------------------- */
.infoteams {

}

.infoteams-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.infoteams-list {}

.infoteams-item {}

.infoteams-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.infoteams-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.infoteams-img {}
/* --------------------------------footer----------------------------------- */

.footer-aside {
    background: #2e2f42;
}
.footer-logo{
        font-family:"Raleway", sans-serif;
        font-weight:700;
        font-size:18px;
        line-height: 1.17;
        letter-spacing:0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.span-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.footer-aside-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
    }
